<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="\logo.png" style="height: 40px;width: 70px; padding-right: 10px;"/>ZENTRAK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if(isAdmin){
        <li class="nav-item"><a class="nav-link" routerLink="/metrics">Metrics</a></li>
        }
        @if(isLogedIn){
        <li class="nav-item"><a class="nav-link" routerLink="/vendor">Vendor</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/zone">Zone</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/stock">Stock</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/transaction">Transaction</a></li>
        }
        
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if(!isLogedIn){
        <li class="nav-item">
          <a class="nav-link"  routerLink="/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
      }
      @else{
        <li class="nav-item">
          <a class="nav-link" href="/login" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
      }
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>