<footer class="custom-footer text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Company Info -->
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0 text-center text-md-start">
        <h5 class="fw-bold text-lavender">Zentrak</h5>
        <p>
          Platform designed to streamline zone-based warehouse operations,
          monitor real-time transactions from inventory movement to performance tracking.
        </p>
      </div>

      <!-- Contact Info -->
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0 text-center text-md-start">
        <h5 class="fw-bold text-lavender">Contact Us</h5>
        <address>
          <p><i class="fas fa-map-marker-alt"></i> Chennai</p>
          <!-- <p><i class="fas fa-phone"></i> <a href="tel:+911234567890" class="footer-link">+91 1234567890</a></p> -->
          <p><i class="fas fa-envelope"></i> <a href="mailto:info@zentrak.com" class="footer-link">info&#64;Zentrak.com</a></p>
        </address>
      </div>
    </div>
    <div class="custom-footer text-white py-2 ">
      <div class="text-center">
          <p class="mb-0 text-lavender">&copy; 2025 Zentrak. All rights reserved.</p>
      </div>
  </div>

  </div>
</footer>
