.alert-custom {
    max-width: 300px;
    /* Adjust the width as needed */
    margin: auto;
    /* Center the alert */
    height: 30px;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    /* Center content vertically */
  }
   
  .input-small {
    max-width: 300px;
    /* Adjust the width as needed */
  }
   
  .form-check-inline {
    margin-right: 50px;
  }

  .btn-purple {
    background-color: #DA70D6;
    color: white;
    border: none;
  }
  
  .btn-purple:hover {
    background-color: #c060c0;
  }
  
   