<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
</head>

<body class="bg-light" style="height: 100vh;">
  <div class="container mt-5 pt-5" style="margin-top: 300px; ">
    <div class="row justify-content-center align-items-center">
      
      <!-- Left Column: Image -->
      <div class="col-md-6 text-center mb-4 mb-md-0 mt-5">
        <img src="/login2.jpg" alt="Login" style="max-height: 400px; object-fit: contain;">
      </div>

      <!-- Right Column: Login Form -->
      <div class="col-md-6 mt-5">
        <div class="card shadow" style="max-width: 500px; margin: auto;">
          <div class="card-body">
            <h3 class="text-center mb-4 " style="color:#DA70D6"><i class="fa-solid fa-user-lock" style="color:#DA70D6"></i> Login</h3>
            <form #loginForm="ngForm" (ngSubmit)="authLogin(loginForm)">
              <!-- Username -->
              <div class="mb-3 row align-items-center">
                <label class="col col-form-label"><b>Username</b></label>
                <div class="col-sm-8">
                  <input type="text" ngModel name="username" class="form-control" placeholder="Enter Username" required>
                </div>
              </div>

              <!-- Password -->
              <div class="mb-3 row align-items-center">
                <label class="col col-form-label"><b>Password</b></label>
                <div class="col-sm-8">
                  <input type="password" ngModel name="password" class="form-control" placeholder="Enter Password" required>
                </div>
              </div>

              <div *ngIf="loginError" class=" text-danger text-center">
                {{ loginError }}
              </div>

              <!-- Buttons -->
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary me-2 w-50"style="background-color:#DA70D6">
                  <i class="fa-solid fa-right-to-bracket" ></i> Login
                </button>
              </div>

            

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

 </body>

</html>
