<div class="container mt-4 pt-5">
  <!-- Summary Cards with Trend -->
  <div class="row text-center mb-4">
    <div class="col-md-2" *ngFor="let metric of summaryMetrics">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ metric.label }}</h5>
          <p class="card-text fs-4 fw-bold">
            <ng-container *ngIf="metric.change !== undefined; else normalValue">
              <!-- {{ metric.label }}:   -->
              <span [ngClass]="{'text-success': metric.change > 0, 'text-danger': metric.change < 0}">
                {{ metric.change > 0 ? '+' : '' }}{{ metric.change }} units
              </span>
            </ng-container>
            <ng-template #normalValue>
              {{ metric.value }}
            </ng-template>
          </p>
          
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- Charts Row 1 -->
  <div class="row g-4 mb-4">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Top 5 Utilized Zones</h5>
          <canvas #topZonesChartCanvas></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Stock Category</h5>
          <canvas #categoryChartCanvas ></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Charts Row 2 -->
  <div class="row g-4 mb-4">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Turnover Trend</h5>
          <canvas #turnoverChartCanvas></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Space Utilization Trend</h5>
          <canvas #spaceUtilChartCanvas></canvas>
        </div>
      </div>
    </div>
  </div>

 
</div>